{{ define "main" }}
<div class="home">
  <!-- prettier-ignore -->
  {{ partial "landing.html" (dict "landingSlogan" "AWS in Lisbon" "landingSubSlogan" "Take your business or knowledge to the next level" "landingText" "Join this community of cloud enthusiasts and professionals. At AWS User Group Lisbon, we share knowledge, network, and explore the latest in AWS. Whether you’re an expert or just starting, our events and meetups offer valuable insights and connections for all experience levels. Let’s learn and grow together!"  )}}
  {{ partial "sponsors.html" .}}
  {{ partial "action.html" .}}
  <!-- commented out as WIP {{ partial "feedback.html" .}} -->
  <!-- comment out as WIP {{ partial "subscribe.html" .}} -->
</div>
{{ end }}
