{{ define "main" }} {{ $css := resources.Get "css/about.css" }}
<link rel="stylesheet" href="{{ $css.RelPermalink }}" />

<div class="about-section">
  <div class="about-left">
    <div class="text-area">
      <div id="top-mini-slogan">Introducing AWS UG Portugal</div>
      <h1 id="slogan-first">Learn, Discover, Inspire</h1>
      <h2 id="slogan-second">
        Our AWS community gladly welcomes you
      </h2>
    </div>
    <div class="about-image warm-img-filter">
      <img src="/images/about-1.jpg" alt="" />
    </div>
  </div>
  <div class="about-right">
    <div class="text-area">
      <div class="intro-text">
        Mission
        Our mission is to create a vibrant and supportive community for AWS enthusiasts in Portugal. 
        We aim to foster knowledge sharing, collaboration, and professional growth among AWS users, 
        helping individuals and organizations leverage Amazon Web Services to its fullest potential.
        Vision
        Our vision is to establish AWS User Group Portugal as a leading community that not only inspires
        and educates its members but also drives technological innovation and excellence in the region. 

        
      </div>
    </div>
    <div class="about-image warm-img-filter">
      <img src="/images/about-2.jpg" alt="" />
    </div>
    <div class="intro-text">
      We are proud to have a supportive community of nearly 1500 members who share their knowledge and experiences. 
      Still recovering from the Pandemic, we have been nurturing and creating more activities for our members.
      We are grateful for the support of our distinguished sponsors, who help make our events possible. 
      If you're interested in partnering with us for one of our future sessions, we'd be happy to 
      hear from you and work together to create a meaningful and inspiring event.
    </div>

       <div class="about-image warm-img-filter">
      <img src="/images/about-2.jpg" alt="" />
    </div>
    <div class="intro-text">
      What We Do
      At AWS User Group Portugal, we organize a variety of events and activities designed to enhance the AWS knowledge and skills of our members:

      Monthly Meetups: Regular sessions featuring expert talks, hands-on workshops, and networking opportunities.

      Want to do
      
      Workshops & Training: Practical, in-depth training sessions on specific AWS services and solutions.
      Hackathons & Challenges: Engaging events where members can apply their skills to solve real-world problems.
      Webinars & Online Sessions: Virtual events to ensure continuous learning and engagement, regardless of location.
      
    </div>

    <div class="about-image warm-img-filter">
      <img src="/images/about-2.jpg" alt="" />
    </div>
    <div class="intro-text">
      Connecting Areas of Interest with AWS Cloud
      
      AWS cloud technology can be applied to a wide array of interest areas, significantly impacting various fields:

Data Science & Analytics;
Machine Learning & Artificial Intelligence;
DevOps & Infrastructure as Code;
Security & Compliance;
Internet of Things (IoT);
Web & Mobile Development;
Serverless Computing;
Blockchain;
Media Services;
Hybrid Cloud & Enterprise IT;
      
      How We Help You Grow
      
      Joining AWS User Group Portugal means becoming part of a dynamic and supportive community that believes in continuous learning and innovation. Here's how we can help you grow:

Knowledge Sharing: Learn from AWS experts, industry leaders, and peers through our interactive sessions and collaborative forums.
Leadership Opportunities: Get involved in organizing events, leading projects, mentoring new members, and building your leadership and management skills.
Networking: Connect with fellow AWS enthusiasts, professionals, and organizations, opening doors to new opportunities and collaborations.
Project Support: Turn your ideas into successful projects with access to a network of skilled individuals, resources, and potential partners.
Career Development: Gain hands-on experience, earn AWS certifications, and explore new career pathways in the ever-evolving field of cloud computing.
      
Join us at AWS User Group Portugal and be part of a community where ideas flourish, knowledge is shared, and leaders are made. Let’s shape the future of cloud technology together!      
    </div>
    
  </div>
</div>

<!-- {{ partial "subscribe.html" .}} -->

{{ end }}
