{{ define "main" }} {{ $css := resources.Get "css/team.css" }}
<link rel="stylesheet" href="{{ $css.RelPermalink }}" />

<!-- List reference details for your team members below-->
<!-- prettier-ignore -->
{{ $sponsors := slice
    (dict "memberPhoto" "FabricioMonteiro.jpeg" "memberName" "Fabrício Monteiro" "memberTitle" "Technology Director" "memberLinkedIn" "fabricio-monteiro-cloud" "memberMail" "aaron@berlinawsug.de" "memberDetails" (slice "From Portugal" "Member since 2014" "Everything as code guy" "Enjoys coding")  )
    (dict "memberPhoto" "FranciscoEdilton.jpeg" "memberName" "Francisco Edilton" "memberTitle" "AWS Hero" "memberLinkedIn" "franciscoed" "memberMail" "daniel@berlinawsug.de" "memberDetails" (slice "From Brazil" "Member since 2018" "Kubernetes guru" "Enjoys biking")  )
    (dict "memberPhoto" "MartinMuller.jpeg" "memberName" "Martin Müller" "memberTitle" "AWS Community Builder" "memberLinkedIn" "martinmueller88" "memberMail" "kadir@berlinawsug.de" "memberDetails" (slice "From Germany" "Member since 2022" "Computes all the way" "Enjoys running")  )
    (dict "memberPhoto" "TiagoRodrigues.jpeg" "memberName" "Tiago Rodrigues" "memberTitle" "AWS Hero" "memberLinkedIn" "tigpt" "memberMail" "mail@tig.pt" "memberDetails" (slice "From Portugal" "Member since 2021" "Loves to share" "Trail Running 🏃🏻‍♂️")  )
  }}

<h2 class="team-title">Meet AWS UG Leaders</h2>
<div class="team-section">
	<div class="team-members">{{ range $sponsors }} {{ partial "team-member.html" . }} {{ end }}</div>
</div>
{{ end }}