<!-- CSS Reference: /assets/css/partials/action.css -->
{{ $css := resources.Get "css/partials/action.css" }}
<link rel="stylesheet" href="{{ $css.Permalink }}" />

<div class="actions-section">
  <div class="action-slogan">
    <p>Want to contribute to our community?</p>
  </div>
  <div class="action-items">
    <div class="action-item">
      <a href="https://docs.google.com/forms/d/e/1FAIpQLSd7BlfefOrlbjhzqmt3mIH8Z-BNzgbN8Nx8c-GVLZxrEtzdbw/viewform">
        <img src="/images/speech.png" alt="Present a Topic action button" />
        <h4>Present a Topic</h4>
      </a>
    </div>
    <div class="action-item">
      <a href="https://docs.google.com/forms/d/e/1FAIpQLSehEmligsGYqAU-YDQnuC-_fXlcXWcV-CwpBapZnn-c0WQVjQ/viewform?usp=sf_link">
        <img src="/images/host.png" alt="Host an Event action button" />
        <h4>Host an Event</h4>
      </a>
    </div>
  </div>
</div>
